html {
background:#fff;
border:0;
font-family: helvetica, arial, sans-serif;
font-family: sans-serif;
font-size:76%;
height:100%;
margin:0;
max-height:100%;
overflow: hidden;
padding:0;
}

body {border:0; height:100%; margin:0; max-height:100%; overflow:hidden; padding:0;}
#foot {bottom:0; color:black; display:block; font-size:0.8em; height:50px; left:0; margin:0; position:absolute; text-align:center; width:100%; z-index:5;}
#logo {height:70px; margin:15px;}

h2 { color: white; margin:0; padding:15px;}
h2 .size {float: right; padding-right: 10px;}
a { color: #333; text-decoration: none; }
.area { border-radius: 0 0 3px 3px; margin:10px -10px -10px -10px; padding:5px 10px 5px 10px;}
.hasProject {background-color: #8d8;}
.hasNoProject {background-color: #ee8;}
.hasDeadline {background-color: #e88;}

#left1, #left2, #left3, #left4, #left5, #left6 {bottom:50px; font-size:1em; left:0; overflow:auto; position:absolute; top:100px; width:16.66%; z-index:4;}
* html #left1, * html #left2, * html #left3, * html #left4, * html #left5, * html #left6 { border-bottom:50px solid #fff; border-top:100px solid #fff; bottom:0; top:0;}
#left1 {background:#ddd; left:0; }
#left1 .inner h2 {background:#2DB4B2;}
#left2 {background:#eee; left:16.66%;}
#left2 .inner h2 {background:#1297FF;}
#left3 {background:#ddd; left:33.33%;}
#left3 .inner h2 {background:#879AA4;}
#left4 {background:#eee; left:49.99%;}
#left4 .inner h2 {background:#FC8E16;}
#left5 {background:#ddd; left:66.66%;}
#left5 .inner h2 {background:#7862D9;}
#left6 {background:#eee; left:83.33%;}
#left6 .inner h2 {background:#7AC537;}

#box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    margin: 15px;
    padding: 10px;
    word-wrap: break-word;
}

.inner { display:block; }
.bold { font-size:1.5em; font-weight:bold;}
